@charset "utf-8";

/* 폰트 적용 */
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}

html > body, html > body .tui-editor-contents {
 font-family: 'LotteMartDream', sans-serif;
}



.con-pad {
  padding:0 1rem;
}

.top-bar {
  position: fixed;
}

.modify-delete-border{
  border: 3px solid #C4B5FD;
  border-radius: 10px;
  background-color: #EDE9FE;
}

.article_board_write_font-size{
  font-size: 20px;
}






    /* 페이징 부분 (시작) */
    .page-items-cover{
      display: block;
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 23px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    
    .page-item {
      padding-left: 8px;
    }
    
        /* 페이징 부분 (끝) */

        /* member/login (시작) */



.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #C4B5FD;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #EC4899;
  font-size: 12px;
}

.login-page-buttons{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.login-button{
  margin-right: 3rem;
  width: 100px;
  background-color: #EC4899;
  color: white;
  border: 2px ridge;
  border-color: #777;
  height: 2rem;
  font-weight: bold;
}

.signup-button{
  margin-left: 3rem;
  display: block;
  width: 100px;
  background-color: #EC4899;
  color: white;
  border: 2px ridge;
  border-color: #777;
  height: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 0.1rem;
}

.login-button:hover, .signup-button:hover{
  transition-duration: 0.5s;
  color: #374151;
  font-weight:bold;
  cursor: pointer;
  
}

/* member/login (끝) */



        